{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Our Vision -->
<div class="py-5" style="background-color: #f5f5f5;">
  <div class="container">
<h3 class="text-center fw-bold mb-4 text-gold">Our Vision and Mission</h3>
<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3 class="<h3 class="text-center mb-4">Our Strength</h3>
      <p>We ENVISION becoming the most dependable company/partner in our line of business mainly targeting Nepal and the South Asia market.</p>
    </div>
    <div class="col-md-6 text-center">
      <img src="{% static 'images/Our Aspiration.jpg' %}" alt="Vision" class="img-fluid rounded shadow" style="max-width: 80%;">
    </div>
  </div>
</div>

<!-- Our Mission -->
<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h3>Our Mission</h3>
      <p>Our MISSION is to give our plan of actions smooth finish delivering best success to our associates and business partners.</p>
    </div>
    <div class="col-md-6 text-center">
      <img src="{% static 'images/Our Purpose.jpg' %}" alt="Mission" class="img-fluid rounded shadow" style="max-width: 80%;">
    </div>
  </div>
</div>

<!-- Our Strategy -->
<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-6">
        <h3>Our Strategy</h3>
      <p>To utilize GASS’s corporate strength with a unique combination of knowledge, skills, and technology.</p>
    </div>
    <div class="col-md-6 text-center">
      <img src="{% static 'images/Strategic Focus.jpg' %}" alt="Strategy" class="img-fluid rounded shadow" style="max-width: 80%;">
    </div>
  </div>
</div>


{% endblock %}
